*{
	margin: 0;
	padding: 0;
}
.body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.icon > a > img{
	margin: 15px -9px;
	padding-left: 30px;
	left: 80px;
	position: relative;
}
.icon >img:hover{
    background: #66b3ff;
    border-radius: 6px;
}
.para1{
	margin-top: -52px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}
.btn{
	
    top: -49px;
    left: 880px;    
}
.back{
	background: #316dc3;
	height: 50px;
}
.btn1, .btn2, .btn3{
	padding: 5px;
    font-size: 11px;
    cursor: inherit;
}
.sec-nav > img{
	max-height: 52px;
	margin: -1px 30px -45px 110px;
	cursor: inherit;
}
.sec-nav{
	position: sticky;
	height: 70px;
	line-height: 1.2;
	background-color: #f2f2f2;
	margin: 1px;
	max-width: 100%;
}
.sec-nav > ul >a li {
	display: inline-block;
	position: relative;
    text-align: center;
    left: 600px;
    padding: 7px 12px;
    word-spacing: 1.8px;
    color: #333333;
    font-size: 15px;
    font-family: sans-serif,Arial, Helvetica;
    
    
}
.sec-nav > ul >a li.active{
	background: #316DC3;
	border: 1px solid blue;
  	border-radius: 20px;
  	color: white;
}
.sec-nav > ul > a > li:hover{
    border: 1px solid blue;
      border-radius: 20px;
      background: #316DC3;
      color: white;
}
.bigimg{
	padding: 5px 45px;
	height: 400px;
	max-width: 100%;
}
.ticker-left > p{
	background-color: #316DC3;
	width: 5000px;
	height: 30px;
}
#imp > img{
	max-height: 12px;
	width: 16px;
	position: relative;
	top: -2px;
	left: 4px;
}
h1{
	margin: 15px;
}
.para2{
	position: absolute;
	left: 10%;
	right: 10%;
	margin-top: 20px;
	padding: 1px 0px;
	font-size: 14px;
	text-align: left;
	font-family: 'Open Sans', sans-serif
}
.para2 > h1{
	font-family: 'Open Sans', sans-serif
	text-transform: uppercase;
}
.sec-back{
	background: #f7f8fa;
	width: 100%;
	margin-top: auto;;
	padding: auto;
}
#part{
    background-color: #316DC3;
    margin: 438px auto;
}
#partone,#parttwo,#partthree,#partfour{
    text-align: center;
}
#partone>img,#parttwo>img,#partthree>img,#partfour>img{
    width: 50px;
    height: 50px;
}
.num{
    font-size: 60px;
    color: white;
    position: relative;
}
.num > p ,span{
	font-weight: bolder;
	display: inline-block;
}
#next_part{
    padding: 30px 0px 30px 0px;
}
.secondpart{
    background-color: #f7f8fa;
    margin-top: -430px;
}
.p-2>img{
    width: 60px;
    height: 45px;
}
#flex{
    margin: 0px 100px 0px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
#b1,#b2,#b3,#b4,#b5,#b6{
    text-align: center;
    width: 350px;
    height: 190px;
    margin: 7px 0px 10px 0px;
    font-size: 22px;
    background-color: white;
    color: #4682B4;
    box-shadow: 5px 10px 18px #888888;
}
#upcomproject{
    margin: 0px 100px 0px 100px;
    flex-wrap: wrap;
    display: flex;
}
#rectbox1,#rectbox2,#rectbox3,#rectbox4{
    width: 250px;
    height: 70px;
    margin: 10px 0px 10px 0px;
    background-color: lightgray;
  
}
#main{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    right: 15px;

}

#rectbox1>img,#rectbox2>img,#rectbox3>img,#rectbox4>img{
    width: 40px;
    height: 40px;
}
#rectbox1 p,#rectbox2 p,#rectbox3 p,#rectbox4 p{
    display: inline-block;

}
#main2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    position: relative;
    right: 15px;

}
#rectbox5{
    width: 250px;
    height: 182px;
    background-color: lightgray;
    flex-wrap: wrap;
}
.heco{
    color: #4682B4;
}
#g1,#g2,#g3,#g4,#g5{
    width: 220px;
    height: 150px;
    border: 1px solid white;
}
#imagegal{
    text-align: center;
}
#img_al{
   text-align: center;
}
#g1>img,#g2>img,#g3>img,#g4>img,#g5>img{
   width: 100%;
   white-space: none;
}
#footer1{
    margin: 0px 100px;
}
#f1,#f2,#f3{
    text-align: left;
    color: white;
    padding: 30px 0px 20px 0px;
}
#f3 img{
    width: 35px;
    height: 35px;
    padding: 5px;
}
#footer{
    background-color: black;
}
#foot{
    background-color: #4682B4;
}
#foot2{
    margin: 0px 100px;
}
#f4{
    color: white;
    text-align: left;
    font-size: 12px;
    padding: 10px 0px 0px 0px;
}
.f1 > p{
	padding: 0;
}
@media (max-width: 750px) and (min-width: 401px){
    .para1{
        display: inline-table;
    }
    .btn1, .btn2, .btn3{
        display: none;
    }
    .back{
        display: inline-table;
    }
    .sec-nav > a > li{
        display: inline-table;
    }
    .para2{
        display: inline-block;
        margin-top: -10px;
    }
}
